@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {

    background-size: 400% 400%;
    font-weight: 600;

}

label {
    padding: 8px 0px 0px 0px;

}

/*Top Text styling*/
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

/*Form Container styling */
.content {
    border-radius: 5px;
    background-color: #4498e824;
    padding: 20px;

}

.result {
    width: 98%;
    margin: 1% 1% 1% 1%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
