@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    
    background-size: 400% 400%;
    font-weight: 600;

}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/*Top Text styling*/
.ml3 {
    font-weight: 900;
    font-size: 3.5em;
}

/*text area  styling Start*/

/*Form Container styling */
.content {
    border-radius: 5px;
    background-color: #e8447821;
    padding: 20px;

}

.dlt {
    width=100%;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }